/**
 * members/members.css
 * Styles for the members section of the ECL website
 */

body {
    margin: auto;
}

.box{
    display: flex;
    gap: 20px;
}

p.textbox{
    flex: 7;
}

div.imgbox{
    /* width: 35%; */
    flex: 3;
}

