/**
 * members/members.css
 * Styles for the members section of the ECL website
 */

body {
    margin: auto;
}

.box{
    display: flex;
    gap: 20px;
}

.text{
    display: flex;
    flex-direction: column;
}

.introduction{
    height: 500px;
}

.adress{
    background-color: antiquewhite;
}