/**
 * members/members.css
 * Styles for the members section of the ECL website
 */

body {
    margin: auto;
}

.box{
    display: flex;
    gap: 20px;
}

.imgbox {
    display: grid;
}

.name {
    display: grid;
}

.name p{
    font-size: 16px;
    padding-left: 129px;
}

.introduction{
    height: 500px;
}

.adress{
    background-color: antiquewhite;
    margin-bottom: 4rem;
}

.adress p{
    padding: 15px;
}

.vero4DRT img{
    /* background-color: aqua; */
    max-width: 512.44px;
}

.profile-images .bitcoin{
    float: right;
    width: 160px;
    margin-right: 50px;
    margin-top: 30px;
}

.profile-images .html{
    float: right;
    width: 100px;
    margin-right: 50px;
}

.profile-images .node{
    float: right;
    width: 100px;
    margin-right: 40px;
    margin-top: 80px;
}

.profile-images img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    object-fit: cover;
}

.profile-text {
    overflow: hidden;
}