/**
 * root/seminar/client/src/css/footer.css
 * Styles for the footer section of the ECL website
 */

/*
 * styles for the whole footer
 */
.footer-container {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/Footer_BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 5%;
    align-items: center;
}

/*
 * styles for the links
 */
.footer-links {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    column-gap: 3rem;
    font-weight: bold;
}

/*
 * styles for the info text
 */
.footer-info {
    text-align: center;
}

/*
 * styles for the logo
 */
.footer-logo img {
    max-width: 20rem;
    height: auto;
}
