/**
 * for-students/for-students.css
 * CSS for the "For Students" section of the ECL Website
 */

body {
    margin: auto;
}

main {
    padding-top: 50px; /* ヘッダーの下に余白を設ける */
    padding-bottom: 50px;
}

.box {
    /* newsboxとeventsboxを横並びにする */
    /* display: flex;  */
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* newsboxとeventsboxの間に隙間を作る */
    column-gap: 50px;
    row-gap: 30px; 
    
    /* 横幅を制限し、中央に配置 */
    width: 80%; 
    margin: 0 auto; 
}

.Senior-Students, .work {
    flex: 1;
    background-color: #e6f7ff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;

    padding: 50px;
    padding-top: 20px;

    height: 400px;       /* 固定高さがあるのでスクロールが必要 */
    overflow-y: auto;    /* ← これを追加するだけで枠内スクロールできる */
}


.Senior-Students p, .work p {
    font-size: 20px; /* フォントサイズを少し大きく */
    color: #333;
    margin: 5px 0; /* <p>要素の上下マージンを調整 */
}

.box ul li{
    padding-top: 5px; /*リストの間隔 */
    padding-bottom: 5px;
}

.box a{
    size: 20px;
    text-decoration: underline;
}

.eclbox{
    border: 1px solid #e0e0e0;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    background-color: #e6f7ff;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 10px;
}

.eclbox .ecl{
    font-size: 40px;
}

.eclbox .text{
    display: flex;
    align-items:center;
}

.text .toha {
    font-size: 20px;
    margin-left: 10px;
}