/**
 * css/footer.css
 * Styles for the footer section of the ECL website
 */

/*
 * styles for the whole footer
 */
.footer-container {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/Footer_BG.png);
    padding: 1rem 5%;
}

/*
 * styles for the links
 */
.footer-links {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
}

/*
 * styles for the logo
 */
.footer-logo img {
    max-width: 200px;
    height: auto;
}
