/**
 * css/header.css
 * Styles for the header section of the ECL website
 */

/*
 * styles for the whole header
 */
.header-container {
    display: flex;
    background-image: url(../img/Header_BG.png);
    justify-content: space-between;
    padding: 1rem 5%;
}
