/**
 * css/home.css
 * Layout styles for the main page.
 */

body {
    margin: auto;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: auto;
}

main .box img:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 25px rgba(132, 132, 132, 0.35);
}
